* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
.main-container {
    width: 100%;
    background-color: white;
    margin: 0 auto;
}
body {
    display: block;
    width: 100%;
    font-family: 'Ubuntu', sem serifa;
}
section::after {
    display: block;
    content: "";
    padding: 5px;
    clear: both;
}
header {
    width: 100%;
    border-bottom: 3px solid #090919;
    height: auto;
    padding: 20px;
}
section nav {
    float: left;
    width: 25%;
    padding: 10px;
    font-size: 1.4rem;
    margin-top: 10px;
}
 section nav li {
    background-color: rgb(221, 214, 214);
    margin: 2px;
    padding: 10px;
 }
 section nav li:hover {
    background-color: rgb(197, 213, 213);
 }
 section nav a{
    color: #092137;
    text-decoration:  none;
    font-weight: bold;
 }
 section nav a:hover{
    color: blue;
 }
section article {
    display: block;
    float: left;
    width: 75%;
    padding: 10px;
    font-size: 1.4rem;
    line-height: 1.2;
}
section img {
    max-width: 580px;
    filter: drop-shadow(8px 8px 11px #333);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    color: #204a6f;
    font-size: 2.3rem;
    padding: 10px;
}

h2  {
    color: #204a6f;
    font-size: 2.1rem;
    padding: 10px;
}
h3 {
    color: #204a6f;
    font-size: 2rem;
    padding: 10px;
}
h4 {
    color: #204a6f;
    font-size:  1.5rem;
    padding: 10px;
}
p {
    color: dimgrey;
    font-size:  1.5rem;
    text-align: justify;
    margin: 10px 20px;
}
.container {
    background-color: #092137;
    width: 100%;
    height:auto;
    padding: 10px;
}
ol li {
    font-size: 1.4rem;
    color: dimgrey;
    padding-left: 20px;
    text-align: justify;
    line-height: 1.3;
    margin-left: 45px;
    margin-right: 20px;
}
footer p {
    color: white;
    font-size: 1.10em;
}
 footer small {
    display: block;
 }

/*Style smartphone*/
@media (max-width:360Px){
    article, nav, .container, .main-container, footer {
        width: 100%;
        min-width:unset;
    }
 }

 @media (max-width:425Px){
    article, nav, .container, .main-container, footer {
        width: 100%;
        min-width:unset;
    }
 }


/*Style i*/
 @media (max-width:820Px){
    article, nav, .container, .main-container, footer{
        width: 100%;
        min-width: 400px;
    }
 }